
<div class="widgets">

  <!-- {{diag}} -->
  <ba-card title="" class="my-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Chinese Name</label>
          <ng2-completer [(ngModel)]="candidate.name_cn" [datasource]="nameServiceCN"
                         [minSearchLength]="1" [inputClass]="['form-control']" (selected)="onSelect($event)" required></ng2-completer>
          <!--<input type="text" [(ngModel)]="candidate.name" required-->
                 <!--class="form-control" id="inputName" #name="ngModel" placeholder=""-->
                 <!--(keyup.enter)="update()"-->
                 <!--(blur)="update()">-->
          <!--<div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>-->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>English Name</label>
          <ng2-completer [(ngModel)]="candidate.name_en" [datasource]="nameServiceEN"
                         [minSearchLength]="1" [inputClass]="['form-control']" (selected)="onSelect($event)" required></ng2-completer>
          <!--<input type="text" [(ngModel)]="candidate.name" required-->
                 <!--class="form-control" id="inputName" #name="ngModel" placeholder=""-->
                 <!--(keyup.enter)="update()"-->
                 <!--(blur)="update()">-->
          <!--<div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" [(ngModel)]="candidate.status" class="form-control" id="status" placeholder="" disabled>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Degree</label>
          <select type="text" [(ngModel)]="candidate.degree" class="form-control" id="degree" required>
            <option *ngFor="let degree of config.degree" [value]="degree.id">
               {{degree.text}} 
            </option>  
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="service">Service Line</label>
          <select type="text" [(ngModel)]="candidate.service_line" class="form-control" id="service-line" (change)="onChangeSL($event)" required>
            <option *ngFor="let sl of config.service_line" [value]="sl.id">
               {{sl.name}} 
            </option>  
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Position</label>
          <select type="text" [(ngModel)]="candidate.position" class="form-control" id="position" required>
             <option *ngFor="let position of positions" [value]="position.id">
               {{position.text}}
            </option> 
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select type="text" [(ngModel)]="candidate.gender" class="form-control" id="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="type">Type</label>
          <select type="text" [(ngModel)]="candidate.type" class="form-control" id="type" required>
            <option *ngFor="let type of config.type" [value]="type.id">
               {{type.text}} 
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="location">Location</label>
          <select type="text" [(ngModel)]="candidate.location" class="form-control" id="location" required>
            <option *ngFor="let location of config.location" [value]="location.id">
               {{location.text}} 
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Assign Date</label>
          <my-date-picker name="assign-date" [options]="myDatePickerOptions"
                    [(ngModel)]="assignDate" required></my-date-picker> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.phone" id="phone" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="candidate.email" id="email" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="channel">Channel</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.channel" id="channel" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="recommender">Recommender</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.recommender" id="recommender" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="b-school">Bachelor School</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.bachelor_school" id="b-school" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="b-major">Bachelor Major</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.bachelor_major" id="b-major" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="m-school">Master School</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.master_school" id="m-school" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="m-major">Master Major</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.master_major" id="m-major" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Receive Date</label>
          <my-date-picker name="receive-date" [options]="myDatePickerOptions"
                    [(ngModel)]="receiveDate" required></my-date-picker> 
        </div>
      </div>
      <div class="col-sm-6">
        <label>Upload Resume to \\nanitfp01\Public\Departments\Public\2017 recruitment\resume\{{serviceLine}}</label>
        <ba-file-uploader [fileUploaderOptions]="fileUploaderOptions"></ba-file-uploader>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button type="submit" class="btn btn-primary" (click)="onClear()">Clear</button>
  </ba-card>


</div>
