
<div class="widgets">

  <!-- {{diag}} -->
  <ba-card title="" class="my-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Chinese Name</label>
          <ng2-completer [(ngModel)]="candidate.name_cn" [datasource]="nameServiceCN"
                         [minSearchLength]="1" [inputClass]="['form-control']" (selected)="onSelect($event)" required></ng2-completer>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>English Name</label>
          <ng2-completer [(ngModel)]="candidate.name_en" [datasource]="nameServiceEN"
                         [minSearchLength]="1" [inputClass]="['form-control']" (selected)="onSelect($event)" required></ng2-completer>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" [(ngModel)]="candidate.status" class="form-control" id="status" placeholder="" disabled>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Degree</label>
          <select type="text" [(ngModel)]="candidate.degree" class="form-control" id="degree" required>
            <option *ngFor="let degree of config.degree" [value]="degree.text">
               {{degree.text}} 
            </option>  
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="service">Service Line</label>
          <select type="text" [(ngModel)]="candidate.service_line" class="form-control" id="service-line" (change)="onChangeSL($event)" required>
            <option *ngFor="let sl of config.service_line" [value]="sl.name">
               {{sl.name}} 
            </option>  
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Position</label>
          <select type="text" [(ngModel)]="candidate.position" class="form-control" id="position" required>
             <option *ngFor="let position of positions" [value]="position.value">
               {{position.text}}
            </option> 
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select type="text" [(ngModel)]="candidate.gender" class="form-control" id="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="type">Fresh/Former</label>
          <select type="text" [(ngModel)]="candidate.type" class="form-control" id="type" >
            <option *ngFor="let type of config.type" [value]="type.text">
               {{type.text}} 
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="location">Location</label>
          <select type="text" [(ngModel)]="candidate.location" class="form-control" id="location" required>
            <option *ngFor="let location of config.location" [value]="location.text">
               {{location.text}} 
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Assign Date</label>
          <my-date-picker name="assign-date" [options]="myDatePickerOptions"
                    [(ngModel)]="assignDate"></my-date-picker> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.phone" id="phone" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="candidate.email" id="email" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="channel">Channel</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.channel" id="channel" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="recommender">Channel Detail</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.recommender" id="recommender" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="school">University</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.university" id="school" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="major">Major</label>
          <input type="text" class="form-control" [(ngModel)]="candidate.major" id="b-major" placeholder="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Receive Date</label>
          <my-date-picker name="receive-date" [options]="myDatePickerOptions" [(ngModel)]="receiveDate" required></my-date-picker>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Graduation Date</label>
          <my-date-picker name="graduation-date" [options]="myDatePickerOptions" [(ngModel)]="graduationDate" required></my-date-picker>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-6">
        <label>Upload Resume to \\nanitfp01\Public\Departments\Public\2017 recruitment\resume\{{serviceLine}}</label>
        <ba-file-uploader [fileUploaderOptions]="fileUploaderOptions"></ba-file-uploader>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button type="submit" class="btn btn-primary" (click)="onClear()">Clear</button>
  </ba-card>


</div>
