<div class="widgets">
  <div class="row">
    <ba-card title="" >
        <!-- <hotTable 
        [data]="data" 
        [columns]="columns" 
        [colHeaders]="colHeaders" 
        [colWidths]="colHeaders" 
        [options]="options" 
        (HANDSONTABLE_EVENT)="eventHandler">
        </hotTable> -->
      <div class="row">
        <hotTable 
          [data]="data" 
          [options]="options"
          [columns]="columns"
          [colHeaders]="colHeaders"
          [colWidths]="colHeaders">
        </hotTable>
      </div>
      <hr>
      <div class="row">
          <div class="col-sm-4">
              <button type="button" class="btn btn-success" (click)="onAssign()">Assign</button>
              <button type="button" class="btn btn-success" (click)="onDelete()">Delete</button>
          </div>
          <div class="col-sm-4">
              <ba-file-uploader #uploader [style.display]="'none'" [buttonText]="'Import Excel'" [fileUploaderOptions]="fileUploaderOptions" (onFileUploadCompleted)="onImported($event)"></ba-file-uploader>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-success" (click)="onQuery()">Query</button>
            <button type="button" class="btn btn-success" (click)="clickExportExcel()">Export</button>
            <button type="button" class="btn btn-success" (click)="onSave()">Save to Server</button>
            <button type="button" class="btn btn-success" (click)="clickImportExcel()">Import Excel</button>
          </div>
      </div>
      <hr>
      <div class="row">
      <div class="col-sm-8">
        <input type="checkbox" [(ngModel)]="selectedSL.Marketing" (ngModelChange)="onSLChange()">
        <span>Marketing Technology</span>
        <input type="checkbox" [(ngModel)]="selectedSL.Analytics" (ngModelChange)="onSLChange()">
        <span>Analytics and Data Products</span>
        <input type="checkbox" [(ngModel)]="selectedSL.ADigital" (ngModelChange)="onSLChange()">
        <span>ADigital Marketing</span>
        <input type="checkbox" [(ngModel)]="selectedSL.Digital" (ngModelChange)="onSLChange()">
        <span>Digital Analytics</span>
      </div>
      </div>
    </ba-card>
  </div>

</div>
