<div class="widgets">

  <div class="row">
    <ba-card title="" >
        <!-- <hotTable 
        [data]="data" 
        [columns]="columns" 
        [colHeaders]="colHeaders" 
        [colWidths]="colHeaders" 
        [options]="options" 
        (HANDSONTABLE_EVENT)="eventHandler">
        </hotTable> -->
      <div class="row">
        <hotTable 
          [data]="data" 
          [options]="options"
          [columns]="columns"
          [colHeaders]="colHeaders"
          [colWidths]="colHeaders">
        </hotTable>
      </div>
      <hr>
      <div class="row">
          <div class="col-sm-4">
              <button type="button" class="btn btn-success" (click)="clickAssign()">Assign</button>
              <button type="button" class="btn btn-success" (click)="clickDelete()">Delete</button>
          </div>
          <div class="col-sm-4">
              <ba-file-uploader #uploader [style.display]="'none'" [buttonText]="'Import Excel'" [fileUploaderOptions]="fileUploaderOptions" (onFileUploadCompleted)="onImported($event)"></ba-file-uploader>
          </div>
          <!-- <div class="col-sm-3">
            <ba-file-uploader [buttonText]="'Import Excel'" [fileUploaderOptions]="fileUploaderOptions" (onFileUploadCompleted)="onImported($event)"></ba-file-uploader>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-success" (click)="clickImportServer()">Import From Server</button>
          </div> -->
          <div class="col-sm-4">
            <button type="button" class="btn btn-success" (click)="clickImportServer()">Query</button>
            <button type="button" class="btn btn-success" (click)="clickExportExcel()">Export</button>
            <button type="button" class="btn btn-success" (click)="clickExportServer()">Save to Server</button>
            <button type="button" class="btn btn-success" (click)="clickImportExcel()">Import Excel</button>
            <!-- <div class="btn-group" ngbDropdown>
              <button type="button" class="btn btn-success" ngbDropdownToggle>
                Export
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="javascript:void(0);" (click)="clickExportExcel()">To Excel</a></li>
                <li class="dropdown-item"><a href="javascript:void(0);" (click)="clickExportServer()">To Server</a></li>
                <li class="dropdown-item"><a href="javascript:void(0);">Something else here</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
      </div>
    </ba-card>
  </div>

</div>
