<div class="row">
  <div *ngFor="let c of checkPoints" class="col-md-2">
    <h5>{{c.name}}</h5>
  </div>
</div>
<div class="row">

  <div class="form-group col-md-2">
    <label for=11>Desire to learn</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="interview.question1" list="q11" />
    <datalist id="q11">
      <option *ngFor="let q of questionList[0]" [ngValue]="q">{{q}}</option>
    </datalist> -->
    <ng2-completer [(ngModel)]="interview.question1" [datasource]="dataService[0]" [openOnClick]="true" [openOnFocus]="false" 
    [selectOnClick]="true" [minSearchLength]="0" [inputClass]="['form-control']" ></ng2-completer>
    <label for=11>Score</label>
    <select [(ngModel)]="interview.score1" class="form-control" id=11 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
    <label for=12>Desire to serve</label>
    <ng2-completer [(ngModel)]="interview.question2" [datasource]="dataService[1]" [openOnClick]="true"  [openOnFocus]="false" 
    [selectOnClick]="true" [minSearchLength]="0" [inputClass]="['form-control']" [fillHighlighted]="false" [autoHighlight]="true"></ng2-completer>
    <!-- <input type="text" class="form-control" [(ngModel)]="interview.question2" list="q12" />
    <datalist id="q12">
      <option *ngFor="let q of questionList[1]" [ngValue]="q">{{q}}</option>
    </datalist> -->
    <label for=12>Score</label>
    <select [(ngModel)]="interview.score2" class="form-control" id=12 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
    <label for=13>Desire to achieve</label>
    <ng2-completer [(ngModel)]="interview.question3" [datasource]="dataService[2]" [openOnClick]="true" [openOnFocus]="false" 
    [selectOnClick]="true" [minSearchLength]="0" [inputClass]="['form-control']" ></ng2-completer>
    <label for=13>Score</label>
    <select [(ngModel)]="interview.score3" class="form-control" id=13 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
  </div>

  <div class="form-group col-md-2">
    <label for=21>Technical Skill Set</label>
    <input type="text" class="form-control" [(ngModel)]="interview.question4" list="q21" />
    <datalist id="q21">
      <!--<option *ngFor="let q of questionList[0]" [ngValue]="q">{{q}}</option>-->
    </datalist>
    <label for=11>Score</label>
    <select [(ngModel)]="interview.score4" class="form-control" id=21 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
    <label for=22>Examination Result</label>
    <select [(ngModel)]="interview.score5" class="form-control" id=22 required>
      <option value=0.5> Pass 0.5 </option>
      <option value=0.0> Fail/Not Applicable 0 </option>
    </select>
    <label for=23>Academic Achievement</label>
    <ng2-completer [(ngModel)]="interview.question5" [datasource]="dataService[4]" [openOnClick]="true" [openOnFocus]="false" 
    [selectOnClick]="true" [minSearchLength]="0" [inputClass]="['form-control']" ></ng2-completer>
    <label for=23>Score</label>
    <select [(ngModel)]="interview.score6" class="form-control" id=23 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
  </div>

  <div class="form-group col-md-2">
    <label for=31>Business Knowledge</label>
    <input type="text" class="form-control" [(ngModel)]="interview.question6" list="q31" />
    <datalist id="q31">
      <!--<option *ngFor="let q of questionList[0]" [ngValue]="q">{{q}}</option>-->
    </datalist>
    <label for=31>Score</label>
    <select [(ngModel)]="interview.score7" class="form-control" id=31 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
    <label for=32>People Management Experience</label>
    <ng2-completer [(ngModel)]="interview.question7" [datasource]="dataService[6]" [openOnClick]="true" [openOnFocus]="false" 
    [selectOnClick]="true" [minSearchLength]="0" [inputClass]="['form-control']" ></ng2-completer>
    <label for=32>Score</label>
    <select [(ngModel)]="interview.score8" class="form-control" id=32 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
  </div>

  <div class="form-group col-md-2">
    <label for=41>Communication Skill</label>
    <input type="text" class="form-control" [(ngModel)]="interview.question8" list="q41" />
    <datalist id="q41">
      <!--<option *ngFor="let q of questionList[0]" [ngValue]="q">{{q}}</option>-->
    </datalist>
    <label for=41>Score</label>
    <select [(ngModel)]="interview.score9" class="form-control" id=41 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
    <label for=42>Language Skill</label>
    <ng2-completer [(ngModel)]="interview.question9" [datasource]="dataService[8]" [openOnClick]="true" [openOnFocus]="false" 
    [selectOnClick]="true" [minSearchLength]="0" [inputClass]="['form-control']" ></ng2-completer>
    <label for=42>Score</label>
    <select [(ngModel)]="interview.score10" class="form-control" id=42 required>
      <option *ngFor="let t of scoreList" [ngValue]="t"> {{t}} </option>
    </select>
  </div>

  <div class="form-group col-md-2">
    <label for=51>Hometown & Family Tie</label>
    <select [(ngModel)]="interview.score11" class="form-control" id=51 required>
      <option value=0.3> Nanjing 0.3 </option>
      <option value=0.1> Jiangsu&Anhui 0.1 </option>
      <option value=0.0> Others 0 </option>
    </select>
    <label for=52>Overseas Study Experience</label>
    <select [(ngModel)]="interview.score12" class="form-control" id=52 required>
      <option value=0.1> Yes 0.1 </option>
      <option value=0.0> No 0 </option>
    </select>
    <label for=53>Relevant Working Experience</label>
    <select [(ngModel)]="interview.score13" class="form-control" id=53 required>
      <option value=0.1> Yes 0.1 </option>
      <option value=0.0> No 0 </option>
    </select>
  </div>

  <div class="form-group col-md-2">
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea [(ngModel)]="interview.comment" placeholder="Comment" class="form-control" id="comment"></textarea>
    </div>
  </div>
</div>


