<div class="widgets">
  <!-- {{diag}}
  {{candidate_id}}{{status}}{{scores}}{{comment}}{{questions}} -->
  <!-- {{sums[0][0]}} -->
  <div class="row buffer-bottom">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Candidate Name</label>
        <ng2-completer [(ngModel)]="candidateName" [datasource]="dataService" [clearUnselected]="true"
                       [minSearchLength]="1" [inputClass]="['form-control']" (selected)="onSelectCandidate($event)" required></ng2-completer>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Interviewer Name</label>
        <ng2-completer [(ngModel)]="interview.interviewer" [datasource]="dataService2" [clearUnselected]="true"
                       [minSearchLength]="1" [inputClass]="['form-control']" required></ng2-completer>
      </div>
    </div>
    <div class="col-sm-4">
        <div *ngIf="!(this.selectedTypeID === 0)" class="form-group">
          <label>Interview Date</label>
          <my-date-picker name="interview-date" [options]="myDatePickerOptions" [(ngModel)]="interviewDate" (ngModelChange)="dateChange($event)" required></my-date-picker>
        </div>
      </div>
  </div>
  <div class="row buffer-left buffer-bottom">
    <div class="btn-toolbar">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button *ngFor="let type of types" type="button" class="types btn btn-primary"
              [class.selected]="type.id === selectedTypeID"
              (click)="onSelectType(type)">
            {{type.name}}
          </button>
        </div>
      </div>
    </div>
    <div class="btn-group submit" role="group" aria-label="Third group">
      <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
  </div>
  <div [ngSwitch]="selectedTypeID">
    <cv *ngSwitchCase=0 [interview]="interview" [type]="selectedTypeID"></cv>
    <common *ngSwitchCase=1 [interview]="interview" [type]="selectedTypeID"></common>
    <group *ngSwitchCase=2 [interview]="interview" [type]="selectedTypeID"></group>
    <common *ngSwitchDefault [interview]="interview" [type]="selectedTypeID"></common>
  </div>
  <div class="row">
      <div *ngFor="let i of [0,1,2,3,4]" class="col-md-2">
        <h5>Total</h5>
      </div>
      <div class="col-md-2">
        <h5>Overall</h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div *ngFor="let i of [0,1,2,3,4]" class="col-md-2">
        <p>{{__sums[selectedTypeID][i].toFixed(2)}}</p>
      </div>
      <div class="col-md-2">
        <p [class.red-text]="interview.status == 'failed'">{{__sum.toFixed(2)}}</p>
      </div>
    </div>
</div>
